# Lab 4 - Multilayer Perceptron
Team members:
- Sam Yao
- Rebecca Kuhlman
- Michael Amberg

## Objective

The objective of this lab is to familiarize ourselves with MultiLayer Neural Networks. This will be done through predicting, for each county, the level of child poverty. You will need to convert this from regression to four levels of classification by quantizing the variable of interest.

1) Load the data into memory and save it to a pandas data frame. Do not normalize or one-hot encode any of the features until asked to do so later in the rubric.

In [1]:
import pandas as pd
import numpy as np

df_census_raw = pd.read_csv("acs2017_census_tract_data.csv")

In [4]:
df_census_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74001 entries, 0 to 74000
Data columns (total 37 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   TractId           74001 non-null  int64
 1   State             74001 non-null  object
 2   County            74001 non-null  object
 3   TotalPop          74001 non-null  int64
 4   Men               74001 non-null  int64
 5   Women             74001 non-null  int64
 6   Hispanic          73305 non-null  float64
 7   White             73305 non-null  float64
 8   Black             73305 non-null  float64
 9   Native            73305 non-null  float64
 10  Asian             73305 non-null  float64
 11  Pacific           73305 non-null  float64
 12  VotingAgeCitizen  74001 non-null  int64
 13  Income            72885 non-null  float64
 14  IncomeErr         72885 non-null  float64
 15  IncomePerCap      73256 non-null  float64
 16  IncomePerCapErr   73256 non-null  float64
 17  Poverty           73159 non-null  float64
 18  ChildPoverty      72891 non-null  float64
 19  Professional      73190 non-null  float64
 20  Service           73190 non-null  float64
 21  Office            73190 non-null  float64
 22  Construction      73190 non-null  float64
 23  Production        73190 non-null  float64
 24  Drive             73200 non-null  float64
 25  Carpool           73200 non-null  float64
 26  Transit           73200 non-null  float64
 27  Walk              73200 non-null  float64
 28  OtherTransp       73200 non-null  float64
 29  WorkAtHome        73200 non-null  float64
 30  MeanCommute       73055 non-null  float64
 31  Employed          74001 non-null  int64
 32  PrivateWork       73190 non-null  float64
 33  PublicWork        73190 non-null  float64
 34  SelfEmployed      73190 non-null  float64
 35  FamilyWork        73190 non-null  float64
 36  Unemployment      73191 non-null  float64
dtypes: float64(29), int64(6), object(2)
memory usage: 20.9+ MB

2) Remove any observations that having missing data. 
Sources used for this section:
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dropna.html

In [5]:
df_census_raw = df_census_raw.dropna()

In [6]:
df_census_raw.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 72718 entries, 0 to 74000
Data columns (total 37 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   TractId           72718 non-null  int64
 1   State             72718 non-null  object
 2   County            72718 non-null  object
 3   TotalPop          72718 non-null  int64
 4   Men               72718 non-null  int64
 5   Women             72718 non-null  int64
 6   Hispanic          72718 non-null  float64
 7   White             72718 non-null  float64
 8   Black             72718 non-null  float64
 9   Native            72718 non-null  float64
 10  Asian             72718 non-null  float64
 11  Pacific           72718 non-null  float64
 12  VotingAgeCitizen  72718 non-null  int64
 13  Income            72718 non-null  float64
 14  IncomeErr         72718 non-null  float64
 15  IncomePerCap      72718 non-null  float64
 16  IncomePerCapErr   72718 non-null  float64
 17  Poverty           72718 non-null  float64
 18  ChildPoverty      72718 non-null  float64
 19  Professional      72718 non-null  float64
 20  Service           72718 non-null  float64
 21  Office            72718 non-null  float64
 22  Construction      72718 non-null  float64
 23  Production        72718 non-null  float64
 24  Drive             72718 non-null  float64
 25  Carpool           72718 non-null  float64
 26  Transit           72718 non-null  float64
 27  Walk              72718 non-null  float64
 28  OtherTransp       72718 non-null  float64
 29  WorkAtHome        72718 non-null  float64
 30  MeanCommute       72718 non-null  float64
 31  Employed          72718 non-null  int64
 32  PrivateWork       72718 non-null  float64
 33  PublicWork        72718 non-null  float64
 34  SelfEmployed      72718 non-null  float64
 35  FamilyWork        72718 non-null  float64
 36  Unemployment      72718 non-null  float64
dtypes: float64(29), int64(6), object(2)
memory usage: 21.1+ MB

3) Encode any string data as integers for now.

There are two categories that are not numerical: State and County.

It is fairly straightforward to encode the states: Simply use 1-52, 50 for each of the states and two for DC and Puerto Rico. 

How do we encode this without using one-hot encoding?

In [16]:
df_census_raw.State.value_counts()

California              7932
Texas                   5197
New York                4778
Florida                 4120
Pennsylvania            3174
Illinois                3105
Ohio                    2931
Michigan                2726
North Carolina          2159
New Jersey              1981
Georgia                 1950
Virginia                1859
Indiana                 1498
Arizona                 1484
Tennessee               1469
Massachusetts           1452
Washington              1441
Missouri                1384
Wisconsin               1382
Maryland                1376
Minnesota               1331
Colorado                1230
Alabama                 1173
Louisiana               1121
Kentucky                1103
South Carolina          1081
Oklahoma                1038
Puerto Rico              875
Oregon                   824
Iowa                     822
Connecticut              814
Kansas                   759
Arkansas                 683
Nevada                   672
Mississippi              654
Utah                     582
Nebraska                 527
New Mexico               498
West Virginia            483
Maine                    351
Hawaii                   307
Idaho                    297
New Hampshire            292
Montana                  268
Rhode Island             240
South Dakota             222
Delaware                 213
North Dakota             205
Vermont                  183
District of Columbia     176
Alaska                   165
Wyoming                  131
Name: State, dtype: int64

4) You have the option of keeping the "county" variable or removing it. Be sure to discuss why you decided to keep/remove this variable.